.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 30px;

  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 5px;
  border: 1px dashed rgb(17, 209, 17);
}

.circleContainer {
  display: flex;
  justify-content: center;
}

.circle {
  /* font-size: 60px; */
  color: rgb(17, 209, 17);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: fit-content;

  /* padding-bottom: 5px; */
  width: 80px;
  height: 80px;
  margin: 0px;
  border-radius: 50%;
  background-color: rgb(236, 238, 237);
}

.circleContent {
  font-size: 60px;
  color: rgb(17, 209, 17);

  width: 100%;
}

.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 5px;
  background: rgb(119, 222, 119);
  cursor: pointer;
  border: 0;
}

/* .button:focus {
  outline: none;
} */

/* .button:hover,
.button:active {
  background: green;
} */

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
