.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
}
.item {
  flex: 0 0 30%;
  background-color: white;
  box-sizing: border-box;
}
