.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 5px;
}
.circleContainer {
  display: flex;
  justify-content: center;
  /* vertical-align: middle; */
}
.circle {
  font-size: 30px;

  display: flex;
  justify-content: center;
  /* vertical-align: middle; */
  height: fit-content;

  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin: 0px;
  border-radius: 50%;
  background-color: rgb(236, 238, 237);
}
.circleContent {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status {
  display: flex;
  justify-content: center space-around;
  text-justify: inherit;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 95px;
  margin-right: 95px;
  color: white;
}

.active {
  background-color: #b3f9b3;
  color: green;
}

/* Expired status styles */
.expired {
  background-color: rgb(220, 198, 32);
  color: #acd515;
}

/* Error status styles */
.error {
  background-color: #ffcccb;
  color: #ff0000;
}

.statusText {
  width: 100%;
  padding: 3px 0;
}

.email {
  color: rgb(175, 190, 198);
}
